body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #232122;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.nombre :hover {
    color: #007BFF;
}

h1 {
    font-size: 36px;
}

.container {
    max-width: 670px;
    margin: 0 auto;
    padding: 40px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.nombre a {
    color: #fff;
    text-decoration: none;
}

.foto {
    align-content: left;
    opacity: 0.5;
    border-radius: 120px;
}

.lista-proyectos {
    background-size:auto;
    width: auto;
    height: 200px;
    background-position: center;
    color:BLACK;
    text-align: center;
    padding: 15px 10px;
    opacity: 0.8;
}

.redes-sociales {
    font-size: 28px; /* Tamaño de los iconos */
}

.redes-sociales i {
    margin: 0 10px; /* Espacio entre los iconos */
    color: whitesmoke; /* Color de los iconos */
}
.redes-sociales :hover {
    color: #007BFF; /* Color de los iconos */
}

/* Estilos CSS para pantallas grandes */
.contacto {
    display: flex;
    align-items: center;
}

.icono-telefono {
    font-size: 24px;
    margin-right: 10px;
}

/* Estilos CSS para pantallas pequeñas (móviles) */
@media screen and (max-width: 768px) {
    .contacto {
        flex-direction: column;
        text-align: center;
    }

    .icono-telefono {
        font-size: 18px;
        margin-bottom: 10px;
    }
}
.nombre {
    font-family: Georgia, 'Times New Roman', Times, serif;
}