* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #232122;
    color: #919091;
    padding: 5px;
    text-align: center;
}

.main-content {
	align-items: center;
	justify-content: center;
	text-align: center;
}

.foot {
    bottom: 0;
    height: 100;
    width: 100%;
    background-color: #333; /* Cambia el color de fondo según tus preferencias */
    color: white; /* Cambia el color del texto según tus preferencias */
    text-align: center;
}

.nombre :hover {
    color: #007BFF;
}

ul {
    list-style-type:circle; /* Establece el tipo de viñeta (puedes cambiarlo si lo deseas) */
}
.nombre a {
    color: #f5f5f5;
    text-decoration: none;
}

.foto {
    align-content: left;
    opacity: 0.5;
    border-radius: 120px;
}

.lista-proyectos {
    background-size:auto;
    color:BLACK;
    text-align: center;
    padding: 15px 10px;
    opacity: 0.8;
}

.redes-sociales {
    font-size: 28px; /* Tamaño de los iconos */
}

.tel {
    font-size: 14px; /* Tamaño del icono del telefono y el numero */
}

a:link {
    text-decoration: none;
    }

.redes-sociales i {
    margin: 0 10px; /* Espacio entre los iconos */
    color: whitesmoke; /* Color de los iconos */
}
.redes-sociales :hover {
    color: #007BFF; /* Color de los iconos */
}



.icono-telefono {
    font-size: 24px;
    margin-right: 10px;
}

.nombre {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

