<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión de Mantenimiento y Repuestos</title>
</head>
    <h1>Sistema de Gestión de Mantenimiento y Repuestos</h1>
    <h2>"Optimiza la eficiencia operativa con nuestro Sistema de Gestión de Mantenimiento y Repuestos. Facilitamos la administración de activos, programación de mantenimiento y control de inventario de repuestos. Mantén tus equipos en óptimas condiciones y reduce costos innecesarios. Descubre cómo nuestra plataforma simplifica la gestión para mejorar la productividad y prolongar la vida útil de tus activos."</h2>
<body>
    
</body>
</html>