{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Mi Portfolio - N&eacute;stor Marlier</title>
</head>

<body>
    <header>
        <img class="foto" src="{% static 'img/Foto.png' %}" alt="Foto">
        <div>
            <h1 class="nombre"><a href="https://github.com/nestormarlier">NESTOR MARLIER</a></h1>
            <div class="redes-sociales">
                <a href="https://www.linkedin.com/in/nestor-marlier/" rel="noopener noreferrer">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/nestormarlier" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i>
                </a>
                <a href="mailto:nestor.mar@gmail.com">
                    <i class="fas fa-envelope"></i>
                </a>
                <!-- Agrega más iconos de redes sociales según sea necesario -->
            </div>
            <div class="redes-sociales">
                <a class="tel" href="+54 11 32591550">
                    <i class="fas fa-phone"><span>+54 11 3259-1550</span></i>
                </a>
            </div>
        </div>
    </header>
    <main class="main-content">
        <div class="container">
            <ul class="lista-proyectos">
                <!-- Lista de proyectos -->
                <div id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                <h3 class="h2-lista">Sistema de gestión de mantenimiento y repuestos</h3>
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p>Optimiza la eficiencia operativa con nuestro Sistema de Gestión de Mantenimiento y
                                    Repuestos. Facilitamos la administración de activos, programación de mantenimiento y
                                    control de inventario de repuestos. Mantén tus equipos en óptimas condiciones y
                                    reduce costos innecesarios. Descubre cómo nuestra plataforma simplifica la gestión
                                    para mejorar la productividad y prolongar la vida útil de tus activos.
                                    Usuario: invitado Contraseña: Prueba.10</p>
                                <a href="http://nestormar.pythonanywhere.com/admin">Ver Proyecto</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                                <h3>Web scraping</h3>
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p>Descubre el poder del web scraping con nuestra plataforma. Extrae datos valiosos
                                    de sitios web de manera automatizada y eficiente. Facilitamos la recopilación de
                                    información para investigaciones, análisis de mercado y automatización de
                                    tareas. ¡Optimiza tu toma de decisiones con datos precisos y actualizados!</p>
                                <a href="https://nestormarlier.github.io/enconstruccion/">Ver Proyecto</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                                    <h3>Modelado de Machine Learning</h3>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                <div class="card-body">
                                    <p>Explora el emocionante mundo del Modelado de Machine Learning en nuestra
                                        plataforma. Desde la construcción de modelos predictivos hasta la toma de
                                        decisiones basadas en datos, te proporcionamos las herramientas y recursos
                                        necesarios para dominar el Machine Learning. Aprovecha el poder de los
                                        algoritmos para obtener ideas valiosas a partir de tus datos y llevar tus
                                        proyectos a un nivel superior.</p>
                                    <a href="https://nestormarlier.github.io/enconstruccion/">Ver Proyecto</a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFor">
                                    <h3>Desarrollo de chat bot</h3>
                                </a>
                            </div>
                            <div id="collapseFor" class="collapse" data-bs-parent="#accordion">
                                <div class="card-body">
                                    <p>Sumérgete en el futuro de la interacción en línea con nuestro enfoque en el
                                        Desarrollo de Chatbots. Desde la conceptualización hasta la implementación,
                                        te guiamos en la creación de chatbots inteligentes y personalizados que
                                        mejoran la comunicación y la atención al cliente. Desbloquea el potencial de
                                        la automatización conversacional y ofrece experiencias excepcionales a tus
                                        usuarios.</p>
                                    <a href="https://nestormarlier.github.io/enconstruccion/">Ver Proyecto</a>
                                </div>
                            </div>
                        </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive">
                                <h3>Reconocimiento de imágen o escritura</h3>
                            </a>
                        </div>
                        <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p>Explora la magia del Reconocimiento de Imagen y Escritura en nuestra plataforma.
                                    Desde la identificación de objetos en imágenes hasta la conversión de escritura
                                    manuscrita en texto digital, te ofrecemos soluciones avanzadas basadas en
                                    inteligencia artificial. Desbloquea nuevas posibilidades para la automatización,
                                    la clasificación y la extracción de datos a partir de imágenes y documentos
                                    escritos. Únete a nosotros en el viaje hacia un mundo más inteligente y
                                    eficiente.</p>
                                <a href="https://nestormarlier.github.io/enconstruccion/">Ver Proyecto</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSix">
                                <h3>Herramienta de análisis de sentimientos y opiniones</h3>
                            </a>
                        </div>
                        <div id="collapseSix" class="collapse" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p>Analiza de manera automática y en tiempo real las emociones y opiniones expresadas en texto, redes sociales y comentarios. Obtén valiosas perspectivas sobre la percepción de tu marca, producto o servicio. Descubre lo que realmente piensan tus clientes y toma decisiones más informadas para mejorar tu negocio.</p>
                                <a href="https://nestormarlier.github.io/enconstruccion/">Ver Proyecto</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSeven">
                                <h3>App predictora de movimientos en la bolsa</h3>
                            </a>
                        </div>
                        <div id="collapseSeven" class="collapse" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p>Potencia tu inversión en el mercado de valores con nuestra innovadora App
                                    predictora
                                    de movimientos en la bolsa. Utilizando algoritmos avanzados y análisis de datos
                                    en tiempo real, te proporcionamos herramientas precisas para anticipar tendencias y
                                    tomar decisiones informadas. Aprovecha nuestra tecnología de vanguardia para
                                    optimizar tu cartera y maximizar tus ganancias en el mundo financiero.</p>
                                <a href="https://nestormarlier.github.io/enconstruccion/">Ver Proyecto</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseEight">
                                <h3>APIs</h3>
                            </a>
                        </div>
                        <div id="collapseEight" class="collapse" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p>Descubre el poder de la conectividad y la flexibilidad con nuestras APIs de vanguardia. Facilitamos la integración de datos y servicios en tus aplicaciones, permitiéndote construir soluciones innovadoras de manera más eficiente. Con nuestras APIs, puedes acceder a funcionalidades específicas, automatizar tareas y ampliar las capacidades de tus aplicaciones. Únete a nosotros en la revolución de la interoperabilidad y desbloquea un mundo de posibilidades.</p>
                                <a href="https://nestormarlier.github.io/enconstruccion/">Ver Proyecto</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseNine">
                                <h3>Login</h3>
                            </a>
                        </div>
                        <div id="collapseNine" class="collapse" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p>Accede de manera segura y cómoda a tu cuenta con nuestra funcionalidad de inicio de sesión. Protege tus datos y disfruta de una experiencia de usuario sin problemas. Ingresa con tu nombre de usuario y contraseña para acceder a contenido exclusivo, realizar transacciones seguras o gestionar tu perfil de forma sencilla. Tu seguridad y comodidad son nuestra prioridad.</p>
                                <a href="https://nestormarlier.github.io/enconstruccion/">Ver Proyecto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>        
    </main>
    <footer class="foot">
        <p>&copy; 2023 Néstor Marlier - Todos los derechos reservados</p>
            <!-- <div class="icon-footer">
                <a href="https://www.linkedin.com/in/nestor-marlier/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/nestormarlier" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i>
                </a>
                <a href="mailto:nestor.mar@gmail.com" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-envelope"></i>
                </a>
            </div> -->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>